* text=auto eol=lf

*.gd      text
*.tscn    text
*.tres    text
*.godot   text
*.import  text
*.cfg     text
*.md      text

*.png     binary
*.jpg     binary
*.ogg     binary
*.wav     binary
*.ttf     binary
